name: Release

on:
    push:
        tags:
            - "v*"

jobs:
    build-and-release:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Setup Zig
              uses: goto-bus-stop/setup-zig@v2
              with:
                  version: 0.14.1

            - name: Install D-Bus dependencies
              run: |
                  sudo dpkg --add-architecture arm64
                  sudo apt-get update
                  sudo apt-get install -y libdbus-1-dev libdbus-1-dev:arm64

            - name: Build binaries
              run: |
                  make release

            - name: Release
              uses: softprops/action-gh-release@v1
              with:
                  files: |
                      dist/waybar-music
